---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url><loc>{{ site.url }}/</loc></url>
<url><loc>{{ site.url }}/all-posts/</loc></url>
<url><loc>{{ site.url }}/all-categories/</loc></url>
<url><loc>{{ site.url }}/about/</loc></url>
{% for cat in categories %}<url><loc>{{ site.url }}/category/{{ cat.slug }}/</loc></url>
{% for sub in cat.subs %}<url><loc>{{ site.url }}/category/{{ cat.slug }}/{{ sub.slug }}/</loc></url>
{% endfor %}{% endfor %}
{% for post in collections.posts %}<url><loc>{{ site.url }}{{ post.url }}</loc><lastmod>{{ post.date | isoDate }}</lastmod></url>
{% endfor %}
</urlset>
